<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <!-- <div class="background-image"></div>-->
<div class="main-content">
  <ion-grid>
    <ion-row *ngFor="let row of grid  let first = first; let last = last"
    [ngClass]="{ first: first, last: last }">
  <ion-col *ngFor="let page of row" (click)="pageTapped($event, page)">
    <div *ngIf="page && page.better_featured_image && page.better_featured_image.source_url">
           <img src={{page.better_featured_image.source_url}}>
    </div>
    </ion-col>
</ion-row>
  </ion-grid>
     
  </div>
 
</ion-content>
