<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

      <ion-spinner *ngIf="!newsLoaded"></ion-spinner>
  <div tappable *ngIf="newsCategory" (click)="newsTapped($event, newsCategory)">
 <op-lazy-img [source]='newsCategory?.img'></op-lazy-img> 
  </div>
  <ion-grid>
    <ion-row *ngFor="let row of grid  let first = first; let last = last"
    [ngClass]="{ first: first, last: last }" style="min-height: 25vh;">
  <button ion-col *ngFor="let page of row" (click)="pageTapped($event, page)">           
           <op-lazy-img [source]='page?.better_featured_image?.source_url'></op-lazy-img>
    </button>
</ion-row>
  </ion-grid>
     

 
</ion-content>
