<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <div *ngIf="newsCategory" (click)="newsTapped($event, newsCategory)">
 <lazy-img src={{newsCategory.img}}></lazy-img>
  </div>
  <ion-grid>
    <ion-row *ngFor="let row of grid  let first = first; let last = last"
    [ngClass]="{ first: first, last: last }" style="min-height: 25vh;">
  <ion-col *ngFor="let page of row" (click)="pageTapped($event, page)">
    <div *ngIf="page && page.better_featured_image && page.better_featured_image.source_url">
           <lazy-img src={{page.better_featured_image.source_url}}></lazy-img>
    </div>
    </ion-col>
</ion-row>
  </ion-grid>
     

 
</ion-content>
