page-event-detail {
     .background-image 
     {       
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
 
    .main-content {
        padding: 20px;
        background-color: white;
        position: absolute;
    }
}
