<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="placeholder" *ngIf="!loaded">
    <ion-spinner></ion-spinner>
  </div>
  <ion-slides *ngIf="loaded" [autoplay]="3000" [loop]="true">
    <ion-slide *ngFor="let slide of slider">
      <div class="overlay_thumbnail_meta">
        <span [innerHTML]="slide?.title"></span>
      </div>
      <img [src]="slide?.url" class="slide-image" />
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <a ion-item target="_blank" href="https://www.facebook.com/BrightonVineyard">
        <ion-icon name="logo-facebook" item-left></ion-icon>
        Like us on Facebook
      </a>
      <a ion-item target="_blank" href="https://twitter.com/btonvineyard">
        <ion-icon name="logo-twitter" item-left></ion-icon>
        Follow us on Twitter
      </a>
      <a ion-item target="_blank" href="http://www.brightonvineyard.com">
        <ion-icon name="ios-play" item-left></ion-icon>
        Visit our Website
      </a>
    </ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="navigate()">
       Worship With Us<br>
       <p>Sundays at 10.30am</p>
       <p>BHASVIC College</p>
       <p>205 Dyke Rd 
          Brighton BN3 6EG</p>
     </button>
       <a ion-item href="tel:01273719898">
          Brighton Vineyard Church Offices<br>
       <p>73 Holland Road</p>
       <p>Hove BN3 1LB <br>
        01273 719898</p>
  </a>
      <ion-item-divider color="light"></ion-item-divider>
  </ion-list>
  <ngui-map center="50.8341173, -0.1513398" zoom="15"><marker position="50.8341173, -0.1513398" (click)="showInfoWindow($event)"></marker>
    <info-window id="iw">
      <h5>Doing church 10:30 am sundays...</h5><p>BHASVIC College</p>
    </info-window>
  </ngui-map>

</ion-content>