<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="homeSegment">
      <ion-segment-button value="events">
        Events
      </ion-segment-button>
      <ion-segment-button value="media">
        Talks
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
    <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>-->
      <ion-spinner *ngIf="!contentLoaded"></ion-spinner>
  <div [ngSwitch]="homeSegment">

    <ion-list *ngSwitchCase="'events'">
      
<ion-card  *ngFor="let churchEvent of churchEvents" class="thumbnail-wrapper" (click)="eventTapped($event, churchEvent)"  >
  <!--[ngStyle]="{'background': 'url('+churchEvent.better_featured_image.source_url+')'}"> -->
    <lazy-img src={{churchEvent?.better_featured_image?.source_url}}></lazy-img>
                    <div class="overlay_thumbnail_meta">
                      <span [innerHTML]="churchEvent?.title?.rendered"></span>
                      <!--<span class="meta">{{album.metadata.connections.videos.total}} Videos / {{ album.duration | SecToMin}}</span>-->
                    </div> 
  </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'media'">
    <ion-item *ngFor="let video of latestPosts" >
         <ion-thumbnail item-left (click)="playVideo($event, video)">
       <lazy-img src={{video?.pictures?.sizes[1]?.link_with_play_button}}></lazy-img>
      <span>{{ video?.duration | SecToMin}}</span>
    </ion-thumbnail>   
      <h5 [innerHTML]="video?.name" (click)="playVideo($event, video)"></h5>
      <p [innerHTML]="video?.description" (click)="playVideo($event, video)"></p>
      <p>{{video?.release_time | amTimeAgo}} - {{video?.stats?.plays}} plays</p>
      <button ion-button clear item-right (click)="presentActionSheet(video)" style="margin:0;" ><ion-icon name="more"></ion-icon></button>
    </ion-item>
    </ion-list>
  </div>
</ion-content>