<ion-header>

  <ion-navbar>
    <ion-title>Watch Later</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-divider color="light"><strong>{{watchLaterList?.length}} Videos</strong></ion-item-divider>
 <ion-list>
    <ion-item *ngFor="let video of watchLaterList" >
         <ion-thumbnail item-left (click)="playVideo($event, video)">
       <lazy-img src={{video.pictures.sizes[1].link_with_play_button}}  *ngIf="video.pictures.sizes[1]"></lazy-img>
      <span>{{ video?.duration | SecToMin}}</span>
    </ion-thumbnail>   
      <h5 [innerHTML]="video?.name" (click)="playVideo($event, video)"></h5>
      <p [innerHTML]="video?.description" (click)="playVideo($event, video)"></p>
      <p>{{video?.release_time | amTimeAgo}} - {{video?.stats?.plays}} plays</p>
      <button ion-button clear item-right (click)="presentActionSheet(video)" style="margin:0;" ><ion-icon name="more"></ion-icon></button>
    </ion-item>
    </ion-list>

</ion-content>
