<!--
  Generated template for the MediaSeries page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Media Series</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2>Videos</h2>
   <ion-scroll scrollX="true" style="height: 250px;">
     <ion-row>
     <ion-col width-50 *ngFor="let videoCategory of videoCategories" (click)="categoryTapped($event, videoCategory)">
        <img src={{videoCategory.img}}>
        <div class="card-title" [innerHTML]="videoCategory.name"></div>
      </ion-col>
    </ion-row>
   </ion-scroll>
    <h2>Series</h2>
   <ion-scroll scrollX="true" style="height: 400px;">
     <ion-row>
     <ion-col width-50 *ngFor="let talkCategory of talksCategories" (click)="categoryTapped($event, videoCategory)">
        <img src={{talkCategory.img}}>
        <div class="card-title" [innerHTML]="talkCategory.name"></div>
    </ion-col>
    </ion-row>
   </ion-scroll>
</ion-content>