<ion-header>

  <ion-navbar>
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="card-background-page">
    <ion-spinner *ngIf="!newsLoaded"></ion-spinner>
<ion-list>    
<ion-card tappable *ngFor="let newsPost of news" class="thumbnail-wrapper" (click)="postTapped($event, newsPost)">
  <!--[ngStyle]="{'background': 'url('+churchEvent.better_featured_image.source_url+')'}"> -->
  <op-lazy-img [source]='newsPost?.better_featured_image?.source_url'></op-lazy-img>
                    <div class="overlay_thumbnail_meta">
                      <span [innerHTML]="newsPost?.title?.rendered"></span>
                    </div> 
  </ion-card>
    </ion-list>
</ion-content>
