<ion-header>
  <ion-navbar>
    <ion-title>Playlists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let row of grid  let first = first; let last = last"
    [ngClass]="{ first: first, last: last }" style="min-height: 25vh;">
  <ion-col *ngFor="let album of row" (click)="categoryTapped($event, album)">
        <div *ngIf="album && album.pictures && album.pictures.sizes" class="thumbnail-wrapper">         
           <lazy-img src="{{album.pictures.sizes[2].link}}" *ngIf="album.pictures.sizes[2]"></lazy-img>
            <div class="overlay">
                    <div class="overlay_thumbnail_meta">
                      <span class="banner">{{album?.name}}</span>
                      <span class="meta">{{album?.metadata?.connections?.videos?.total}} Videos / {{ album?.duration | SecToMin}}</span>
                    </div> 
                </div>
    </div>
    </ion-col>
</ion-row>
  </ion-grid>
</ion-content>
